* {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: $body-color;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /*Semi-Bold*/
    line-height: 150%;
    letter-spacing: 0;
    font-style: normal;
    color: $text-dark;
}
body.disable-scrolling {
    overflow: hidden;
}

.viewport {
    max-width: 100%;
    min-width: 320px;
    //border: 2px solid black;
}

.wrapper {
    max-width: 1360px;
    margin: 0 auto;
    //border: 2px solid rgb(67, 5, 199);
    @media (max-width: 1400px) and (min-width: 1025px) {
        padding: 0 40px;
    }
    @include media-desktop-transit {
        padding: 0 40px;
    }
    @include media-tablet-transit {
        padding: 0 16px;
    }
}