/* @media (min-width: 1024px) {
    .favorite-coffee {
        display: none;
    }

    .about {
        display: none;
    }

    .mobile-app {
        display: none;
    }

    .footer {
        display: none;
    }
}

@media (max-width: 768px) {
    .wrapper {
        //max-width: 768px;
        border: 2px solid rgb(249, 46, 5);
    }

    .header__navigation {
        display: none;
    }

    .enjoy__text-block {
        margin: 100px 0 100px 60px;
    }

    .favorite-coffee {
        display: none;
    }

    .about {
        display: none;
    }

    .mobile-app {
        display: none;
    }

    .footer {
        display: none;
    }
} */